$color-base: #EFF2F1;
$color-primary: #32a287;


$color-black: #000;
$color-white: #FFF;

$color-grey: #eee;

$color-white-transparent: #fff3;
$color-dark-transparent:#ffffff1a;

$color-dark: #0e0f12;


